@using ElEmegi.Ecommerce.Model.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}

<!-- breadcrumb -->
<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
    <a href="index.html" class="s-text16">
        Home
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>

    <a href="product.html" class="s-text16">
        @Model.CategoryId
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>
    <span class="s-text17">
        @Model.Name
    </span>
</div>

<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
        <div class="w-size13 p-t-30 respon5">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>

                <div class="slick3">
                    <div class="item-slick3" data-thumb="@Model.Image">
                        <div class="wrap-pic-w">
                            <img src="@Model.Image" alt="IMG-PRODUCT">
                        </div>
                    </div>

                    <div class="item-slick3" data-thumb="images/thumb-item-02.jpg">
                        <div class="wrap-pic-w">
                            <img src="images/product-detail-02.jpg" alt="IMG-PRODUCT">
                        </div>
                    </div>

                    <div class="item-slick3" data-thumb="images/thumb-item-03.jpg">
                        <div class="wrap-pic-w">
                            <img src="images/product-detail-03.jpg" alt="IMG-PRODUCT">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-size14 p-t-30 respon5">
            <h4 class="product-detail-name m-text16 p-b-13">
                @Model.Name
            </h4>

            <span class="m-text17">
                $@Model.Price
            </span>

            <p class="s-text8 p-t-10">
                @Model.Description
            </p>

            <!--  -->
            <div class="p-t-33 p-b-60">
                <div class="flex-r-m flex-w p-t-10">
                    <div class="w-size16 flex-m flex-w">


                        <!-- Button -->
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {

                            <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
                                @Html.TextBox("text1", 1, new { @type = "number" })
                            </div>

                            <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                                @Html.HiddenFor(i => i.ID)

                                <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                                    Sepete At
                                </button>
                            </div>

                        }

                    </div>

                </div>
            </div>

            <div class="p-b-45">
                <span class="s-text8 m-r-35">Kategori :</span>
            </div>

            <!--  -->
            <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Description
                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23">
                    <p class="s-text8">
                        @Model.DescriptionTwo
                    </p>
                </div>
            </div>

            <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Additional information
                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23">
                    <p class="s-text8">
                        Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat
                    </p>
                </div>
            </div>

            <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Reviews (0)
                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23">
                    <p class="s-text8">
                        Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Relate Product -->
<section class="relateproduct bgwhite p-t-45 p-b-138">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                İlgili Ürünler
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                @{
                    foreach (var item in ViewBag.related_product)
                    {
                        <div class="item-slick2 p-l-15 p-r-15">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                    <img src="@item.Image" alt="IMG-PRODUCT">

                                    <div class="block2-overlay trans-0-4">
                                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                        </a>

                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            @Html.ActionLink("İncele", "Details", "Home", new { id = @item.ID }, new { @class = "flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" })
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                        @item.Name
                                    </a>

                                    <span class="block2-price m-text6 p-r-5">
                                        @item.Price
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</section>

<script type="text/javascript">
    $('.block2-btn-addcart').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to cart !", "success");
        });
    });

    $('.block2-btn-addwishlist').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");
        });
    });
</script>
<script type="text/javascript" src="~/Content/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="~/Content/js/slick-custom.js"></script>
<script type="text/javascript" src="~/Content/vendor/countdowntime/countdowntime.js"></script>
<script type="text/javascript" src="~/Content/vendor/lightbox2/js/lightbox.min.js"></script>
<script type="text/javascript" src="~/Content/vendor/sweetalert/sweetalert.min.js"></script>

<script src="~/Content/js/main.js"></script>