@using ElEmegi.Ecommerce.Model.Entity
@model IEnumerable<ElEmegi.Ecommerce.Model.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<h2>Ürünlerim</h2>
<p>@Model.Count() adet ürününüz var.</p>
<hr/>
<p>
    @Html.ActionLink("Yeni Ürün", "Create","",new{@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Image)*@
            <img src="@item.Image" width="60" height="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)  ₺
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new {id = item.EncryptedString},new{@class="btn btn-primary"}) |
            @Html.ActionLink("Detay", "Details", new {id = item.EncryptedString },new{@class="btn btn-success"}) |
            @Html.ActionLink("Sil", "Delete", new {id = item.EncryptedString},new{@class="btn btn-danger"})
        </td>
    </tr>
}

</table>
