@using ElEmegi.Ecommerce.Web.UI.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - El Emegi E-Ticaret</title>
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/themify/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/elegant-font/html-css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/lightbox2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body class="animsition">
<!-- Header -->
<header class="header1">
<!-- Header desktop -->
<div class="container-menu-header">
    <div class="topbar">
        <div class="topbar-social">
            <a href="#" class="topbar-social-item fa fa-facebook"></a>
            <a href="#" class="topbar-social-item fa fa-instagram"></a>
            <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
            <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
            <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
        </div>

        <span class="topbar-child1">
            Free shipping for standard order over $100
        </span>

        <div class="topbar-child2">
            <span class="topbar-email">
                deneme@example.com
            </span>

            <div class="topbar-language rs1-select2">
                <select class="selection-1" name="time">
                    <option>USD</option>
                    <option>EUR</option>
                </select>
            </div>
        </div>
    </div>


    <div class="wrap_header">
        <!-- Logo -->
        <a href="index.html" class="logo">
            <img src="~/Content/images/icons/logo.png" alt="IMG-LOGO">
        </a>
        <script> 
            $(function () {
                $('ul.main_menu li').on('click', function () {
                    $(this).parent().find('li.a.sale-noti').removeClass('sale-noti');
                    $(this).addClass('sale-noti');
                });
            });
        </script> 

        <!-- Menu -->
        <div class="wrap_menu">
            <nav class="menu">

                <ul class="main_menu">
                    <li class="a sale-noti">
                        <a href="/Home/Index/">Anasayfa</a>
                    </li>
                    <li class="a">
                        <a href="/Home/About/">Hakkımızda</a>
                    </li>
                    <li class="a">
                        <a href="/Shop/Index/">Alışveriş</a>
                    </li>

                    <li class="a">
                        <a href="#">Satıcılar</a>
                    </li>

                    <li class="a">
                        <a href="/Home/BlogPost/">Blog</a>
                    </li>

                    <li class="a">
                        <a href="/Home/Contact/">İletişim</a>
                    </li>
                </ul>
            </nav>
        </div>


        <!-- Header Icon -->
        <div class="header-icons">
            @if (Session["ad"] != null)
            {
                <div class="header-wrapicon2">
                    <img src="~/Content/images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <!-- Header cart noti -->

                    <div class="header-cart header-dropdown">

                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Content/images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="/Profile/Index/" class="header-cart-item-name">
                                        Profilim
                                    </a>
                                </div>
                            </li>
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Content/images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="/Cart/Index/" class="header-cart-item-name">
                                        Sepetim
                                    </a>
                                </div>
                            </li>
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Content/images/item-cart-01.jpg" alt="IMG">
                                </div>
                                <div class="header-cart-item-txt">
                                    <a href="/Profile/MyOrders/" class="header-cart-item-name">
                                        Siparişlerim
                                    </a>
                                </div>
                           </li>
                        </ul>



                        <div class="header-cart-total">
                            merhaba, @Session["ad"]
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                @Html.ActionLink("Çıkış Yap", "Logout", "Account","",new{@class= "flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" })
                            </div>
                        </div>
                    </div>
                      
                </div>
            }
            else
            {
                <div class="header-wrapicon2">
                    <img src="~/Content/images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON" > 
                    <!-- Header cart noti -->
                   
                    <div class="header-cart header-dropdown">

                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Content/images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    @Html.ActionLink("Giriş Yap", "Login", "Account", "", new { @class = " " })

                                </div>
                            </li>
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Content/images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    @Html.ActionLink("Üye Ol", "Register", "Account", "", new { @class = " " })

                                </div>
                            </li>
                        </ul>

                    </div>

                </div>



            }
            <span class="linedivide1"></span>
            @Html.Action("CartProduct", "Cart")
        </div>
    </div>
</div>



<!-- Header Mobile -->
<div class="wrap_header_mobile">
    <!-- Logo moblie -->
    <a href="index.html" class="logo-mobile">
        <img src="~/Content/images/icons/logo.png" alt="IMG-LOGO">
    </a>

    <!-- Button show menu -->
    <div class="btn-show-menu">
        <!-- Header Icon mobile -->
        <div class="header-icons-mobile">
            <a href="#" class="header-wrapicon1 dis-block">
                <img src="~/Content/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
            </a>

            <span class="linedivide2"></span>

            <div class="header-wrapicon2">
                <img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                <span class="header-icons-noti">0</span>

                <!-- Header cart noti -->
                <div class="header-cart header-dropdown">
                    <ul class="header-cart-wrapitem">
                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="images/item-cart-01.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    White Shirt With Pleat Detail Back
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $19.00
                                </span>
                            </div>
                        </li>

                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="images/item-cart-02.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    Converse All Star Hi Black Canvas
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $39.00
                                </span>
                            </div>
                        </li>

                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="images/item-cart-03.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    Nixon Porter Leather Watch In Tan
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $17.00
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div class="header-cart-total">
                        Total: $75.00
                    </div>

                    <div class="header-cart-buttons">
                        <div class="header-cart-wrapbtn">
                            <!-- Button -->
                            <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                View Cart
                            </a>
                        </div>

                        <div class="header-cart-wrapbtn">
                            <!-- Button -->
                            <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                Check Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>
</div>

<!-- Menu Mobile -->
<div class="wrap-side-menu">
    <nav class="side-menu">
        <ul class="main-menu">
            <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <span class="topbar-child1">
                    Free shipping for standard order over $100
                </span>
            </li>

            <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <div class="topbar-child2-mobile">
                    <span class="topbar-email">
                        fashe@example.com
                    </span>

                    <div class="topbar-language rs1-select2">
                        <select class="selection-1" name="time">
                            <option>USD</option>
                            <option>EUR</option>
                        </select>
                    </div>
                </div>
            </li>

            <li class="item-topbar-mobile p-l-10">
                <div class="topbar-social-mobile">
                    <a href="#" class="topbar-social-item fa fa-facebook"></a>
                    <a href="#" class="topbar-social-item fa fa-instagram"></a>
                    <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                    <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                    <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                </div>
            </li>
            <li class="item-menu-mobile">
                <a href="/Home/Index/">Anasayfa</a>
            </li>
            <li class="item-menu-mobile">
                <a href="/Home/About/">Hakkımızda</a>
            </li>

            <li class="item-menu-mobile">
                <a href="/Shop/Index/">Alışveriş</a>
            </li>

            <li class="item-menu-mobile">
                <a href="#">Satıcılar</a>
            </li>

            <li class="item-menu-mobile">
                <a href="/Home/BlogPost/">Blog</a>
            </li>

            <li class="item-menu-mobile">
                <a href="/Home/Contact/">İletişim</a>
            </li>


        </ul>
    </nav>
</div>
</header>
<div>

@RenderBody()
</div>
<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Neden Biz ?
            </h4>

            <div>
                <p class="s-text7 w-size27">
                  dşalgşdalg
                </p>

                <div class="flex-m p-t-30">
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                </div>
            </div>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Kategoriler
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Men
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Women
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Dresses
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Sunglasses
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Link
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="~/Admin/Login/" class="s-text7">
                        Satıcı Paneli
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="/Home/About/" class="s-text7">
                        Hakkımızda
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="/Home/Contact/" class="s-text7">
                       İletişim
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="/Home/CookiePolicy/" class="s-text7">
                        Çerez Politikamız
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Yardım
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="/Home/FAQ/" class="s-text7">
                        Sıkça Sorulan Sorular
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="/Home/BlogPost/" class="s-text7">
                        Blog
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Sipariş Takip
            </h4>

            @using(Html.BeginForm("OrderTracking", "Home", FormMethod.Post, new {@class="form-control"}))
            {
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="order_id" placeholder="Sipariş numarasını giriniz..">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    <!-- Button -->
                    <input type="submit" value="Gönder" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4"/>
                </div>
            }
            @if (@ViewBag.ErrorOrder != null)
            {
                <p>@ViewBag.ErrorOrder</p>
            }
        </div>
    </div>

    <div class="t-center p-l-15 p-r-15">
        <a href="#">
            <img class="h-size2" src="~/Content/images/icons/paypal.png" alt="IMG-PAYPAL">
        </a>

        <a href="#">
            <img class="h-size2" src="~/Content/images/icons/visa.png" alt="IMG-VISA">
        </a>

        <a href="#">
            <img class="h-size2" src="~/Content/images/icons/mastercard.png" alt="IMG-MASTERCARD">
        </a>

        <a href="#">
            <img class="h-size2" src="~/Content/images/icons/express.png" alt="IMG-EXPRESS">
        </a>

        <a href="#">
            <img class="h-size2" src="~/Content/images/icons/discover.png" alt="IMG-DISCOVER">
        </a>

        <div class="t-center s-text8 p-t-20">
            Copyright © @DateTime.Now.Year All rights reserved. |  coded with <i class="fa fa-heart-o" aria-hidden="true"></i> <strong> love. </strong>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>
<script src="~/Content/js/cookiealert.js"></script>
<link href="~/Content/css/cookiealert.css" rel="stylesheet" />
<div class="alert text-center cookiealert" role="alert">
    <b>Cookie sever misin ?</b> #x1F36A;Size en iyi hizmeti sunabilmek ve reklam çalışmalarında kullanmak amacıyla sayfamızda çerezlerden faydalanıyoruz. Sayfamızı kullanmaya devam ederek çerez kullanımına izin vermiş oluyorsunuz. Çerezler hakkında ayrıntılı bilgiye Çerez Politikamız 'dan ulaşabilirsiniz. <a href="/Home/CookiePolicy/" target="_blank">Çerez Politikamız</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        I agree
    </button>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>


 
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/vendor/animsition/js/animsition.min.js"></script>
<script type="text/javascript" src="~/Content/vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="~/Content/vendor/select2/select2.min.js"></script>
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
</script>
<script type="text/javascript" src="~/Content/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="~/Content/js/slick-custom.js"></script>
<script type="text/javascript" src="~/Content/vendor/countdowntime/countdowntime.js"></script>
<script type="text/javascript" src="~/Content/vendor/lightbox2/js/lightbox.min.js"></script>
<script type="text/javascript" src="~/Content/vendor/sweetalert/sweetalert.min.js"></script>

<script src="~/Content/js/main.js"></script>
</body>
</html>