@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.status == "Success")
    {
        <div class="container" style="height: 600px;">
        <div class="row">
            <h2>Click buttons to test alert messages</h2>
            <br />
            <div class="col-md-3">
                <button id="autoclosable-btn-danger" class="btn btn-primary btn-danger btn-block">
                    Autocloseable message danger	
                </button>
                <div/>
            </div>
        </div>
        </div>
    }
}

    @{
        if (Session["ad"] == null)
        {
            Response.Redirect(Url.Action("Login", "Account"));
        }
        else
        {

            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-profile">
                            <div style="background-image: url(https://demo.bootstrapious.com/admin-premium/1-4-5/img/photos/paul-morris-116514-unsplash.jpg);" class="card-header"></div>
                            <div class="card-body text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="card-profile-img">
                                <h3 class="mb-3">@Model.Name <strong>@Model.Surname</strong></h3>
                                <p class="mb-4">One morning, when Gregor Samsa woke from troubled </p>
                            </div>
                        </div>

                        <form class="card">
                            <div class="card-header">
                                <h3 class="card-title">İşlemler</h3>
                            </div>

                            <div class="card-footer text-left">
                                @Html.ActionLink("Kişisel Bilgiler", "Edit", "Profile", new { id = @Session["ID"] }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Siparişlerim","MyOrders","Profile",new{ @class="btn btn-primary"})
                                @*<button class="btn btn-primary"><i class="fa fa-shoppinsg-cart"></i> Siparişlerim</button><br /><br />*@
                                <button class="btn btn-primary"><i class="fa fa-commenting"></i> Mesajlar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-8">

                        <form class="card">
                            <div class="card-body">
                                <h3 class="card-title">İstatistik</h3>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script type="text/javascript">

            </script>

        }
    }


<style type="text/css">
        body {
            margin-top: 20px;
            background: #eee;
        }

        .card {
            background-color: #fff;
            border: 0 solid #eee;
            border-radius: 0;
        }

        .card {
            margin-bottom: 30px;
            -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
        }

        .card-profile .card-header {
            height: 9rem;
            background-size: cover;
            background-position: center center;
        }

        .card-profile-img {
            max-width: 8rem;
            margin-top: -6rem;
            margin-bottom: 1rem;
            border: 3px solid #fff;
            border-radius: 100%;
        }

        .avatar {
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            border-radius: 50%;
            display: inline-block;
            background: #ced4da no-repeat center/cover;
            position: relative;
            text-align: center;
            color: #868e96;
            font-weight: 600;
            vertical-align: bottom;
        }

        .avatar.avatar-md {
            width: 3rem;
            height: 3rem;
        }

        .avatar.avatar-lg {
            width: 4rem;
            height: 4rem;
        }

        .avatar.avatar-xl {
            width: 5rem;
            height: 5rem;
        }

        .avatar.avatar-xxl {
            width: 7rem;
            height: 7rem;
            min-width: 7rem;
        }

        .card-header:first-child {
            border-radius: 0 0 0 0;
        }

        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }

        .card-header {
            padding: 1rem 1.25rem;
            background-color: #fff;
            border-bottom: 1px solid #eee;
        }

        .card-header {
            -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
        }
    </style>
<script>
    $(document).ready(function () {
        $('.alert-autocloseable-success').hide();
        $('.alert-autocloseable-warning').hide();
        $('.alert-autocloseable-danger').hide();
        $('.alert-autocloseable-info').hide();

        $('#autoclosable-btn-success').click(function () {
            $('#autoclosable-btn-success').prop("disabled", true);
            $('.alert-autocloseable-success').show();

            $('.alert-autocloseable-success').delay(5000).fadeOut("slow", function () {
                // Animation complete.
                $('#autoclosable-btn-success').prop("disabled", false);
            });
        });

        $('#normal-btn-success').click(function () {
            $('.alert-normal-success').show();
        });

        $('#autoclosable-btn-warning').click(function () {
            $('#autoclosable-btn-warning').prop("disabled", true);
            $('.alert-autocloseable-warning').show();

            $('.alert-autocloseable-warning').delay(3000).fadeOut("slow", function () {
                // Animation complete.
                $('#autoclosable-btn-warning').prop("disabled", false);
            });
        });

        $('#normal-btn-warning').click(function () {
            $('.alert-normal-warning').show();
        });

        $('#autoclosable-btn-danger').ready(function () {
            $('#autoclosable-btn-danger').prop("disabled", true);
            $('.alert-autocloseable-danger').show();

            $('.alert-autocloseable-danger').delay(5000).fadeOut("slow", function () {
                // Animation complete.
                $('#autoclosable-btn-danger').prop("disabled", false);
            });
        });

        $('#normal-btn-danger').click(function () {
            $('.alert-normal-danger').show();
        });

        $('#autoclosable-btn-info').click(function () {
            $('#autoclosable-btn-info').prop("disabled", true);
            $('.alert-autocloseable-info').show();

            $('.alert-autocloseable-info').delay(6000).fadeOut("slow", function () {
                // Animation complete.
                $('#autoclosable-btn-info').prop("disabled", false);
            });
        });

        $('#normal-btn-info').click(function () {
            $('.alert-normal-info').show();
        });

        $(document).on('click', '.close', function () {
            $(this).parent().hide();
        });
    });
</script>