@model ElEmegi.Ecommerce.Web.UI.Models.Cart

<div class="header-wrapicon2">
    <img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
    <span class="header-icons-noti">@Model.CartLines.Count</span>

    <!-- Header cart noti -->
    <div class="header-cart header-dropdown">
        <ul class="header-cart-wrapitem">
            @{
                if (Model.CartLines.Count < 1)
                {
                    <div class="alert alert-warning" role="alert">
                        <i class="far fa-frown"></i> Alışveriş sepetinizde ürün bulunmamaktadır.
                    </div>
                }
                else
                {
                    foreach (var item in Model.CartLines)
                    {
                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="@item.Product.Image" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    @item.Product.Name
                                </a>

                                <span class="header-cart-item-info">
                                    @item.Quantity adet
                                </span>
                            </div>
                        </li>
                       
                    }
                    <div class="header-cart-total">
                        Toplam :   @Model.Total().ToString("c")
                    </div>
                }
             
                    
                }
          
        </ul>

      
      
            
                 <div class="header-cart-buttons">
                     <div class="header-cart-wrapbtn">
                         <!-- Button -->
                         <a href="/Cart/Index/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                             Sepete Git
                         </a>
                     </div>
                 </div>
            
        
    
    </div>
</div>