@model ElEmegi.Ecommerce.Web.UI.Models.ResetPassword
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("NewPassword", "Account", "",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <br/>
            <h4>Yeni Parola</h4>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(model => model.ResetCode, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <input type="text" name="reset_code" class="form-control"/>
                    @*@Html.EditorFor(model => model.ResetCode, new {htmlAttributes = new {@class = "form-control"}})*@
                    @Html.ValidationMessageFor(model => model.ResetCode, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RePassword, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <input type="text" name="password" class="form-control"/>
                    @*@Html.EditorFor(model => model.RePassword, new {htmlAttributes = new {@class = "form-control"}})*@
                    @Html.ValidationMessageFor(model => model.RePassword, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RePassword, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <input type="text" name="repassword" class="form-control"/>
                    @*Html.EditorFor(model => model.RePassword, new {htmlAttributes = new {@class = "form-control"}})*@
                    @Html.ValidationMessageFor(model => model.RePassword, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br/>
                    <input type="submit" value="Yeni Şifre Oluştur" class="btn btn-primary"/>
                </div>

            </div>
        </div>

    </div>
}  
