@model ElEmegi.Ecommerce.Model.Entity.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Silmek istediğine emin misin ?</h3>
<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Vazgeç", "Index","",new{@class="btn btn-danger"})
        </div>
    }
</div>
